body {
    background-color: #f6fff4;
    margin: 0;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: #141414;
    margin-bottom: 500px;
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.subtitle {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

.container {
    max-width: 1200px;
    padding: 2.5rem 1.25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6.25rem;
}